<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <webSocket enabled="true" />

        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <rewrite>
            <rules>
                
                <rule name="SocketIO" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="requestonlineapi/socket.io/*" />
                    <action type="Rewrite" url="server.js"/>
                </rule>
                <rule name="NodeApp" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                    <add segment="iisnode" />
                </hiddenSegments>
            </requestFiltering>
        </security>

    </system.webServer>
</configuration>